PORT=3000
MONGODB_URI=mongodb://localhost:27017/user_management_db
JWT_SECRET=super_secret_jwt_key_change_in_production
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173

# Super Admin Seed Credentials
SUPER_ADMIN_FIRST_NAME=Boss
SUPER_ADMIN_LAST_NAME=Admin
SUPER_ADMIN_EMAIL=boss@company.com
SUPER_ADMIN_PASSWORD=SuperAdmin@123456
SUPER_ADMIN_PHONE=+1234567890
